---
import { Icon } from 'astro-icon';


const items = [
  	{
		title: 'Acre',
		description:
			'IBC ecosystem ⚛',
		icon: 'acre',
		Link: 'https://spt-node.my.id/mainnet/acre',
	},
	{
		title: 'Bitcanna',
		description:
			'IBC ecosystem ⚛',
		icon: 'bitcanna',
		Link: 'https://spt-node.my.id/mainnet/bitcanna',
	},
  
	{
		title: 'Mars',
		description:
			'mars-1',
		icon: 'mars',
		Link: 'https://spt-node.my.id/mainnet/mars',
	},

	{
		title: 'Planq',
		description:
			'IBC ecosystem ⚛',
		icon: 'planq',
		Link: 'https://spt-node.my.id/mainnet/planq',
	},
  
  	
  
];
---

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
<section class="scroll-mt-16" id="features2">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Mainnet - Live 
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					learn with us below, this is a tool for running a node 🚀
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, description, icon , Link }) => (
			<div class="flex items-center transition border border-slate-600 flex-col hover:shadow-xl lg:flex lg:flex-row lg:items-left lg:py-3.5 lg:text-left md:flex-row md:py-3.5 md:text-left px-3 py-6 rounded-[10px] shadow-gray-200 shadow-md text-center xl:text-left">
								<Icon name={icon} class="w-12 h-12" />
								<div class="ml-4 text-xl font-bold">{title}</div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md items-center font font-semibold">{description}</p>
							<div class="flex w-full sm:w-auto p-1">
							<a
								class="btn bg-primary-400 w-full hover:bg-blue-400"
								href={Link}>Get In</a>
							</div>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
