---
import { Picture } from '@astrojs/image/components'
---

<section class="relative md:-mt-[100px]">
	<div class="max-w-6xl mx-auto px-4 sm:px-6" id="hero">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<div class="max-w-2xl mx-auto">
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						<!-- <div class="flex w-full sm:w-auto">
							<a
								class="btn btn-primary sm:mb-0 w-full"
								href="https://github.com/onwidget/astrowind"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5" /> Get template
							</a>
						</div> -->
						<div class="flex w-full sm:w-auto">
						</div>
					</div>
				</div>
			</div>
	
          
          
          
          <img src="https://github.com/sipalingtestnet/WEBSITE-SPT-NODE/blob/main/src/assets/images/defaultImage.jpg?raw=true" alt="Node.js Logo" style="max-width:100%;height:auto;">
          
          
          
          
          
          
          
          
       
			
			</div>
		</div>
	</div>
</section>
