---
import { Picture } from '@astrojs/image/components'
---

<section class="relative md:-mt-[100px]">
	<div class="max-w-6xl mx-auto px-4 sm:px-6" id="hero">
		<div class="py-12 md:py-20">
			<div class="text-center pb-10 md:pb-16 max-w-5xl mx-auto">
				<div class="max-w-2xl mx-auto">
					<div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
						 <div class="flex w-full sm:w-auto">
	
          
          
          
          <img src="https://github.com/sipalingtestnet/WEBSITE-SPT-NODE/blob/main/src/assets/images/defaultImage.jpg?raw=true" alt="Node.js Logo" style="max-width:100%;height:auto;">
          
          
          
          
          
          
          
          
       
			
			</div>
		</div>
	</div>
</section>
